.el-submenu .el-menu-item {
    padding-left: 49px !important;
}

/* table 样式*/
div.el-table {
    td, th { text-align: center; }
    th {
        font-weight: bold;
        color: #344a5f;
    }
    td { font-size: 14px; }
    border: 1;
}

/* dialog 样式 */
.el-dialog__body {
    padding: 30px 47px !important;
}
.el-dialog__footer {
    text-align: center !important;
    padding-bottom: 50px !important;
    .el-button {
        width: 150px;
        margin: 0 11px !important;
    }
}

div.el-form-item { margin-bottom: 22px; }

/* form 样式 */
.el-form {
    .el-form-item:last-child {
        margin-bottom: 0 !important;
    }
}